/* theme (dark or light mode) */
.light div[data-rehype-pretty-code-fragment] > pre[data-theme='dark'] {
  display: none;
}

.dark div[data-rehype-pretty-code-fragment] > pre[data-theme='light'] {
  display: none;
}

/* wrapper */
div[data-rehype-pretty-code-fragment] {
  overflow: hidden;
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid;
}

/* line */
div[data-rehype-pretty-code-fragment] [data-line] {
  padding-left: 0.5rem;
  padding-right: 0.75rem;

  border-left-width: 4px;
  border-left-color: transparent;
}

/* line numbers */
code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] [data-line]::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;

  margin-right: 0.75rem;
  width: 1rem;
  color: rgb(255 255 255 / 0.2);
}

/* line highlights */
div[data-rehype-pretty-code-fragment] [data-highlighted-line] {
  border-left-color: #3c9375;
  background-color: rgba(237, 255, 232, 0.1);
}
