@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@shikijs/twoslash/style-rich.css');

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 5%;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 95%;
  }
}

@layer base {
  pre[data-theme*=" "] {
    @apply text-sm p-4 shadow-sm rounded-lg overflow-auto;
  }

  pre[data-theme*=" "],
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
  }

  @media (prefers-color-scheme: dark) {
    pre[data-theme*=" "],
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }
  }

  body {
    @apply text-sm font-sans antialiased bg-background text-foreground;
  }
}