@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@shikijs/twoslash/style-rich.css');

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 5%;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 95%;
  }
}

@layer base {
  code {
    @apply text-xs p-1 rounded-md shadow-sm;

    color: #1E754F;
    background-color: #ffffff;
  }

  .dark code {
    color: #4D9375;
    background-color: #121212;
  }

  code::before, 
  code::after {
    content: unset !important;
  }

  [data-rehype-pretty-code-figure] pre {
    @apply text-sm p-4 shadow-sm rounded-lg overflow-auto;
  }

  [data-rehype-pretty-code-figure] pre,
  [data-rehype-pretty-code-figure] code,
  [data-rehype-pretty-code-figure] code span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
  }

  .dark [data-rehype-pretty-code-figure] pre,
  .dark [data-rehype-pretty-code-figure] code,
  .dark [data-rehype-pretty-code-figure] code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }

  body {
    @apply min-h-screen text-sm font-sans antialiased bg-background text-foreground;
  }
}